@font-face{
  font-family: myMainFont;
  src: url(segoepr.ttf);

}

*{
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}
html {
  font-family: "Montserrat", sans-serif;
}
header{
    background-color: #ffffff;
  margin: auto -16px;
  padding: 3px 45px;
  font-family: myMainFont !important;
  font-weight: 200px;
  
}
.topbuttons{
  display: flex;
  justify-content: space-between;
}
button{
  background-color: #FF02A2;
  color: #ffffff;
  padding: 5px 10px;
  border: none;
  border-radius:20px ;
  font-style: Segoe Print;
  margin: 5px !important;
  
}
#heading{
  background-color: #FF02A2;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 50vh;
}

#heading h1{
  padding-top: 40px;
   font-family: myMainFont;
}
#heading p{
  font-family:subHeading ;
}
#image{

  padding-left: 6em; 
  padding-right: 6em; 
  align-items: inherit;
  float: right;
}
.centre{
  display: block;
  margin-top: -7%;
  margin-right: auto;
  margin-left: 60%;
}
.left{
  display: block;
  margin-top: -14.3%;
  margin-right: auto;
  margin-left: 30%;
}
.middle{
  display: block;
  margin-top: -13%;
  margin-right: auto;
  margin-left: 45%;

}
.navbar-brand{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sign-up{
  background-color: #FDC6E8;
}

.banner_img{
  height: 350px;
  object-fit: cover !important;
  margin-top: -85px;
  padding: 6px;
}
.BevragesImg{
  height: 250px;
  width: 100%;
  object-fit: cover !important;
  padding: 2%;
  margin-top: 20px;
}

.img_container{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.signup_container{
  display: flex;
  width: 100%;
  padding: 2%;
}
.MostLikedImg{

  height: 130px;
  margin: 10px;
  padding-left: 10px;
}

.purple_box{
  background: #FDC6E8;
  min-height: 200px;
  width: 100%;
  padding: 20px;
  margin: 40px;
}
.user_form{
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
  align-items: center;
}
.sign_box{
  text-align: center;
}

.signup_input{
  margin: 20px;
  width: 30%;
  border-radius: 5px;
  border:none;
  padding: 5px;
}
.restaurantHead{
  text-align: center;
  color: #FF02A2;
  padding-top: 3%;
}
.restaurantImage{
  height: 350px;
  padding-top: 3%;
  padding-left: 6em; 
  padding-right: 10em; 
  /* align-items: inherit; */
  align-items: center;
  float: right;
  margin-bottom: 60px;
}
.purpleBox-xSmall{
  background: #FDC6E8;
  display: flex;
  width: 35%;
  height: max-content;
  flex-direction: column;
}
.follow_btn{
  width: 40%;
  margin-left: 30% !important;
}
.purple_box-small{
  background: #FDC6E8;
  width: 55%;
  padding: 2%;
}
.post_img{
  height: 500px;
  width: 50%;
  object-fit: cover !important;
  margin: 10px;
  padding: 6px;
 
}
.beverageHeading{
  text-align: center;
  color: #FF02A2;
}

.latest_profile{
  display: flex;
  width: 100%;
  padding:10px;
  justify-content: space-around;
}

.like_wrapper{
  display: flex;
  background: rgb(255,255,255,0.6);
  margin: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.review_btn{
  padding: 10px 30px;
  border-radius: 20px;

}

@media only screen and (max-width:1023px) {
  .img_container{
    margin-top: -40px;
   flex-direction: column;
  }
  .user_form{
    flex-direction: column;
  }
  .banner_img{margin-top: 0px!important;}

}


